
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.app-header{
  height:50px;
  background-color:red; 
  line-height: 50px;
  position: fixed;
  top:0;
  width:100%;
}
.app-header img{
  margin:10px;
  width:32px;
  height:32px;
}
.app-header .list{
  float:right;
}
.app-header .user{
  float:left;
}

.app-header input{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("./image/search.png") white no-repeat 0;
  outline: none;
  border-radius: 15px;
  display: inline-block;
  height:25px;
  line-height: 25px;
  width:80%;  
  margin-left:10px;
  color:#6a6f77;
  padding-left: 32px;
}
.inputDiv{
    display:inline-block;
    width:72%;
}
input::-webkit-input-placeholder{
  color:#6a6f77;
}

.app-footer{
  height:50px;
  background: #000;
  line-height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
a{
  text-decoration: none;
  color:#fff;
  height:32px;
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
}
.active{
   color: yellow;
}
.navUl li{
  float:left;
  width:33.3%;
  height:50px;
  line-height: 50px;
  text-align: center;
}
.clearfix:after{
  content:"";
  height:0;
  visibility: hidden;
  clear:both;
  display: block;
}
.Bodyul{
  padding: 50px 10px ;
  margin:10px 0 ;
}
.Bodyul li{
  float:left;
  width:33%;
}
.Bodyul li> div{
  /*width:95px;*/
  text-align: center;
  background-color:#ddd; 
}
.Bodyul li:nth-of-type(n){
  margin-left:1px ;
}
.Bodyul li>div >span{
  display: inline-block;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}